@charset "UTF-8";

@media screen and (max-width:1440px) {
  .row {
    padding-inline: 20px;
  }
}

@media screen and (max-width:1025px) {
  .main-section {
    padding: 70px 20px;
  }
  .main__title {
    font-size: 36px;
  }
}

@media screen and (max-width:769px) {
  .main-section {
    padding-inline: 0;
  }
  .main__title {
    font-size: 28px;
    margin-block-end: 40px;
  }
}
